Repository ODUGI/Odugi, pull requests merged in 2023-03, with the labels that each got.

#13 refac: UserState32/80 통합
  src/frontend/.storybook/main.js
  src/frontend/.storybook/preview-head.html
  src/frontend/.storybook/preview.js
  src/frontend/src/components/molecules/Button/DirectButton.tsx
  src/frontend/src/components/molecules/Button/UserInfoButton.tsx
  src/frontend/src/components/molecules/Div/CardUserInfo.tsx
  src/frontend/src/components/molecules/Div/FriendBox.tsx
  src/frontend/src/components/molecules/Div/SelectFriend.tsx
  src/frontend/src/components/molecules/Div/UserState.stories.tsx
  src/frontend/src/components/molecules/Div/UserState.tsx
  src/frontend/src/components/molecules/Div/UserState32.stories.tsx
  src/frontend/src/components/molecules/Div/UserState32.tsx
  src/frontend/src/components/molecules/Div/UserState80.stories.tsx
  src/frontend/src/components/molecules/Div/UserState80.tsx
  src/frontend/src/components/organisms/MainVoiceRoomBody.tsx
  src/frontend/src/components/organisms/Tab3ServerBody.tsx
  src/frontend/yarn.lock
Labels: Front End, Refactor

#12 refac: 라우터명 변경
  src/frontend/src/routes/router.tsx
Labels: Front End, Refactor

#18 feat: 배경 클릭 시 드롭다운/모달이 꺼지는 훅 생성
  src/frontend/src/hooks/common/useOutsideClick.ts
Labels: Front End, NewFeat

#21 fix: 오류 해결
  src/frontend/src/components/molecules/Text/CommunityServerText.stories.tsx
  src/frontend/src/components/organisms/CommunityList.tsx
  src/frontend/src/components/organisms/CreateCommunityForm.tsx
  src/frontend/src/components/organisms/Tab3ServerBody.tsx
  src/frontend/src/components/templates/CommunityPage.tsx
Labels: Front End, Refactor

#28 개인설정, 서버설정 페이지 리펙토링 진행
  src/frontend/src/components/organisms/AccountCard.tsx
  src/frontend/src/components/organisms/MyAccount.tsx
  src/frontend/src/components/organisms/MyAccountSettingBar.tsx
  src/frontend/src/components/organisms/ProfileTab.tsx
  src/frontend/src/components/organisms/UserIntroChangeModal.tsx
  src/frontend/src/components/organisms/UserNameChangeModal.tsx
  src/frontend/src/components/organisms/UserPasswordChangeModal.tsx
  src/frontend/src/components/organisms/UserProfilePage.tsx
  src/frontend/src/components/organisms/UserSettingDefaultList.stories.tsx
  src/frontend/src/components/organisms/UserSettingDefaultList.tsx
  src/frontend/src/components/templates/CommunityPage.tsx
  src/frontend/src/pages/CommunitySetting.stories.tsx
  src/frontend/src/pages/CommunitySetting.tsx
  src/frontend/src/pages/UserSetting.tsx
Labels: Front End

#29 refac: 리팩토링
  src/frontend/src/components/atoms/Button/CommunitySettingButton.tsx
  src/frontend/src/components/atoms/Button/SettingButton.tsx
  src/frontend/src/components/atoms/Div/CommunityImage.tsx
  src/frontend/src/components/atoms/Div/CommunityImageChild.tsx
  src/frontend/src/components/molecules/Div/CardUserInfo.tsx
  src/frontend/src/components/organisms/CommunitySettingBar.tsx
  src/frontend/src/components/organisms/Modal/CommunitySettingModal.tsx
  src/frontend/src/components/organisms/Modal/UserSettingModal.tsx
  src/frontend/src/components/organisms/MyAccountSettingBar.stories.tsx
  src/frontend/src/components/organisms/UserSettingBar.stories.tsx
  src/frontend/src/components/organisms/UserSettingBar.tsx
  src/frontend/src/pages/CommunitySetting.tsx
  src/frontend/src/store/useCommunityStore.ts
  src/frontend/src/store/useSettingModalStore.ts
  src/frontend/src/store/useUserSetStore.ts
  src/frontend/src/types.d.ts
Labels: Front End, Refactor

#34 적어둔 리팩토링 목록 순서대로 진행
  src/frontend/src/components/atoms/Div/CommunityImage.stories.tsx
  src/frontend/src/components/atoms/Div/CommunityLogo.stories.tsx
  src/frontend/src/components/atoms/Div/CommunityLogo.tsx
  src/frontend/src/components/atoms/Div/LogoImage.stories.tsx
  src/frontend/src/components/atoms/Div/UserLogo.stories.tsx
  src/frontend/src/components/atoms/Div/UserLogo.tsx
  src/frontend/src/components/molecules/Div/CommunityListButton.stories.tsx
  src/frontend/src/components/molecules/Div/CommunityListButton.tsx
  src/frontend/src/components/molecules/Div/CommunityLogo.stories.tsx
  src/frontend/src/components/molecules/Div/MessageLog.tsx
  src/frontend/src/components/molecules/Div/UserChannelOnBox.tsx
  src/frontend/src/components/molecules/Div/UserState.tsx
  src/frontend/src/components/molecules/Form/DefaultForm.tsx
  src/frontend/src/components/molecules/Form/LoginForm.tsx
  src/frontend/src/components/molecules/Input/CommunityInput.stories.tsx
  src/frontend/src/components/molecules/Input/CommunityInput.tsx
  src/frontend/src/components/organisms/CommunityList.tsx
  src/frontend/src/components/organisms/CommunityListTest.tsx
  src/frontend/src/components/organisms/CommunityProfile.tsx
  src/frontend/src/components/organisms/CommunitySettingDefault.tsx
  src/frontend/src/components/organisms/CommunitySettingInvite.tsx
  src/frontend/src/components/organisms/CommunitySettingMember.tsx
  src/frontend/src/components/organisms/RegisterStep1.tsx
  src/frontend/src/components/organisms/RegisterStep2.tsx
Labels: Front End, Refactor

#32 refac: 메인/커뮤니티 페이지의 공통 컴포넌트 CommonPage에 합쳐 정리
  src/frontend/src/components/organisms/Tab2MainHeader.tsx
  src/frontend/src/components/templates/CommonPage.tsx
  src/frontend/src/components/templates/CommunityPage.tsx
  src/frontend/src/components/templates/MainPage.stories.tsx
  src/frontend/src/components/templates/MainPage.tsx
  src/frontend/src/pages/Common.tsx
  src/frontend/src/pages/Community.tsx
  src/frontend/src/pages/Main.tsx
  src/frontend/src/routes/router.tsx
Labels: Front End, Refactor

#31 feat: 메인/커뮤니티 페이지에서 최근 방문 채널 기억
  src/frontend/src/components/organisms/MessageFooter.tsx
  src/frontend/src/components/organisms/Tab3MainBody.tsx
  src/frontend/src/store/useChannelStore.ts
  src/frontend/src/store/useMainStore.ts
Labels: Front End, NewFeat
